*{
    margin: 0;
    padding: 0;
    font-family:NimbusSanL;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    width: 100%;
    background: 8d99ae;
}
#nav{
    display: flex;
    position: relative;
    justify-content:space-between ;
    padding: 1.5vw 6vw;
    background-color: #c6c6c6;

}
#nleft{
    display: flex;
    gap: 20px;
}

#nav a{
  display:inline-block ;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

#nav #center{
     
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
 #hero  {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
    background: 8d99ae;

  }
  #info{
    width: 10vw;
  }

  #info p{
    font-size:14px ;
    font-weight: 700;
    margin: 10px 0;
    opacity:.6 ;
    text-transform: capitalize;
  }

  #info #infowrapper{
    width:100%;
    height:35vh;
    position: relative;
    overflow: hidden;
    

  }
  #infowrapper img{
    
    width: 100%;
    
    height: 100%;
    object-fit: cover;
  }

  #villan{
    position: relative;
    width: 30vw;
    min-height: 35vw;
    
  }

  #villan h1{
    letter-spacing: -6px;
    line-height: 0.99;
    font-size: 7vw;
    font-weight: 300;
  }

  #villan #headings{
      position: absolute;
      top:-25.8% ;
      left: -20%;

  }


  #imgtext{
    width: fit-content;
    height:fit-content;
  }
  #villan img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #villan p{
    
    font-size: 1.6vw;
    letter-spacing: -.1vw;
    width: 50%;
  }

  #circlev{
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    border: 2px solid #5e5e5e;
  }

  #vist{

    display: flex;
    gap: 20px;
    align-items: center;

  }

  #circlev i{
    color: #5e5e5e;
  }

  #vist h3 {
    color: #5e5e5e;
    font-weight: 600;
  }
  #motive{
    margin: 7vw;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
  }
  #motive p{
    line-height: 1.7;
    letter-spacing: -.14vw;
    font-weight: 400;
    position: relative;
    font-size: 2.1vw;
    text-align: right;
    width: 80%;
    
  }
  #motive span{
    display:inline-block; 
    
    border-radius: 100px;
    background-color: aqua;
    margin: 0 11px;
    margin-bottom: -7px;
  }
  

  #one{
    width: 50px;
    height: 34px;
    background-color: azure;
    background-image: url(./bluegirl.jpg);
    background-size: cover;
    background-position: 0% 56%;
  }
  #two{
    width: 80px;
    height: 34px;
    background-color: blueviolet;
    background-image: url(shaljam.jpg);
    background-size: cover;
    background-position: 0% 56%;
  }
  #three{
    width: 60px;
    height: 34px;
    background-image: url(grass.jpg);
    background-size: cover;
    background-position: 0% 56%;
  }


  #pictures{
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
  }

  #firstpic{
    width:17vw ;
  }

  #firstpic #picimg{
     width: 100%;
     height: 24vw;
     margin-bottom: 1.5vw;

  }
  #picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #secpic{
    width:26vw ;
    display: flex;
    flex-direction: column;
    align-items:end ;
  }


  #firstpic h1 ,#secpic h1{
    letter-spacing:-.1vw ;
    font-weight:100 ;
    font-size: 2vw;

  }

  #firstpic p ,#secpic p{
    opacity:.8 ;
     font-size: 1vw;
     letter-spacing: -.07vw;
     line-height: 1;
     margin-top: 10px;
  }
 

  #secpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 1.5vw;

 }
 #secpic p{
   width: 50%;
   text-align: right;
 
 }
 #banner{
  display: flex;
  align-items: center;
  width:100% ;
  margin-top: 8vw;

 }
 #bimg{
  width: 65%;
  height: 60vh;
 }
 #bimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 70%;
 }

 #btext{
  width: 35%;
  padding: 0 3vw;
 }

 #btext h1{
  font-size: 2.8vw;
  font-weight:400 ;
  letter-spacing: -.15vw;
  line-height: 1;

 }
 #btext p{
  margin-top: 20px ;
  width: 60%;
  font-size: 1vw;
 }

 #future{
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(225, 220, 220);
 }
 #future video{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  width: 100%;
  
 }
 #ftext  {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9999;
  background-color: #c6c6c6;
  padding:1vw 2vw ;
  border-radius: 10px ;
 }


 #ftext button{
 
  padding: .8vw 1.7vw;
  font-size: .7vw;
  text-transform: capitalize;
  margin-top: 10px;
  font-weight: 700;
  border-radius: 100px ;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  color: #6f6f6f;
  margin-left: 5VW;
 }
